* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

header {
    background-image: url('./images/bg-header-desktop.png');
    box-shadow: 0 0 8px 0 white inset;
    text-align: center;
    opacity: 60%;
}

header img {
    width: 65px;
    height: 65px;
    margin: 80px 0 20px 0;
}

.main_message {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    padding: 0 1rem 1rem 1rem;
}

.main_message h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #484E57;
    padding-bottom: 1rem;
}

.second-message {
    margin-top: 4rem;
}

.second-message h1 {
    font-weight: 400;
    font-size: 1.4rem;
}

.main-btn {
    width: 10rem;
    height: 2.5rem;
    margin: 2rem 0.5rem 0 0;
    color: white;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.main-btn-one-color {
    background-color: hsl(171, 66%, 44%);
    border: 2px solid hsl(171, 66%, 44%);
}

.main-btn-two-color {
    background-color: hsl(233, 100%, 69%);
    border: 2px solid hsl(233, 100%, 69%);
}

.hero-section {
    width: 100%;
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.hero-section img {
    width: 50%;
}

.flex-col {
    width: 40%;
    padding: 5rem 4rem;
}

.flex-col h2 {
    color: #484E57;
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 0.6rem;;
}

.flex-col p {
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
}

.col {
    margin-bottom: 3.5rem;
}